# build binaries
gin-bin
goserve

# nodejs module folder
/node_modules

# asset dist
/assets/dist

# example folder, prevent unecessary addition of files
/_example

# vendor folder (depends on Gopkg.lock)
/vendor
