<!DOCTYPE html>
<html>
<head>
<title>Index of {{ .Base }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
</head>
<body>
<section>
	<h1>Index of {{ .Base }}</h1>
	<ul class="listing">
	{{ $base := .Base }}
	{{ range $file := .Files }}
		<li>
			{{ if $file.IsDir }}
				<a href="{{ joinPath $base $file.Name }}/">{{ $file.Name }}/</a>
			{{ else }}
				<a href="{{ joinPath $base $file.Name }}">{{ $file.Name }}</a>
			{{ end }}
		</li>
	{{ end }}
	</ul>
</section>
<script src="{{ .Assets }}/js/app.js"></script>
</html>
